<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a>
    <div class="footer-copyright py-3">
      <a target="_blank"> ۰۲۱۷۷۵۶۹۱۵۶</a>
        پشتیبانی:
    </div>
        <div class="footer-copyright py-3">
      ©
      <a href="https://damirco.com/" target="_blank"> DAMIRCO</a>
    </div>

    <!--/.Copyright-->

  </footer>